<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\DemoUCD\DemoMicrosoft\package1\Eisk.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/EiskApp</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=DEVOPSNIMISHA18;Initial Catalog=&quot;D:\PROJECTS\OPEN-SOURCE\EISK\SOURCE\V5.0 - WEB FORM EDITION\EISK.WEB\APP_DATA\DATABASE.MDF&quot;;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;.\D:\PROJECTS\OPEN-SOURCE\EISK\SOURCE\V5.0 - WEB FORM EDITION\EISK.WEB\APP_DATA\DATABASE.MDF&quot;;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DatabaseContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=&quot;res://*/App_Logic.Entity Model.DatabaseContext.csdl|res://*/App_Logic.Entity Model.DatabaseContext.ssdl|res://*/App_Logic.Entity Model.DatabaseContext.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data source=.\D:\PROJECTS\OPEN-SOURCE\EISK\SOURCE\V5.0 - WEB FORM EDITION\EISK.WEB\APP_DATA\DATABASE.MDF;Integrated Security=True;AttachDBFilename=|DataDirectory|\Database.mdf;User Instance=true&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseContext-Web.config Connection String">
      <ParameterValue>metadata="res://*/App_Logic.Entity Model.DatabaseContext.csdl|res://*/App_Logic.Entity Model.DatabaseContext.ssdl|res://*/App_Logic.Entity Model.DatabaseContext.msl";provider=System.Data.SqlClient;provider connection string='Data Source=DEVOPSNIMISHA18;Initial Catalog="D:\PROJECTS\OPEN-SOURCE\EISK\SOURCE\V5.0 - WEB FORM EDITION\EISK.WEB\APP_DATA\DATABASE.MDF";Integrated Security=True'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>